<img src="<%= book.image_url %>">
<h3><%= book.title %></h3>
<h4><%= book.author %></h4>
<p><%= book.description %></p>
<p class="isbn">
  <%= book.isbn %>
  <% if (book.bookshelf) { %>
  <br>
  Bookshelf;
  <%= book.bookshelf %>
  <% } %>
</p>     
