<section id="bookSearch" class="showBook">
  <li data-books-id="<%= books.isbn %>"></li>
  <div class="books-container">
  <img src="<%= books.image_url %>" >
  <div>
  <h2><%= books.title %></h2>
  <h3>Author: <%= books.author %></h3>
  <p class="desc">Description: <%= books.description %></p> 
</section>