<section>
  <img src=<%= books.image_url %> >
  <h3><%= books.title %></h3>
  <p><%= books.author %></p>
  <p class="desc"><%= books.description %></p>
  <p><%= books.isbn %></p>
  <p><%= books.bookshelf %> </p>
</section>