<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Collection</title>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Book Collection</title>
      <link rel="stylesheet" href="/public/styles.css/reset.css">
      <link rel="stylesheet" href="/public/styles.css/icons.css">
      <link rel="stylesheet" href="/public/styles.css/base.css">
      <link rel="stylesheet" href="/public/styles.css/layout.css">
      <link rel="stylesheet" href="/public/styles.css/modules/error.css">
      <link rel="stylesheet" href="/public/styles.css/modules/partials/header.css">
      <link rel="stylesheet" href="/public/styles.css/modules/partials/footer.css">
      <link rel="icon" type="image/png" href="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png">
      <link rel="stylesheet" href="/public/styles.css/modules/searches/show.css">
      <link rel="stylesheet" href="/public/styles.css/modules/searches/new.css">
    </head>
  <body>
    <header>
      <div>
        <a href="/">
          <h1>Best Books!</h1>
        </a>
      </div>
      <nav>
        <div class="icon-menu"></div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/searches/new">Search Books</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h4>Search Results</h4>

      <ul class="search-results">

        <% results.forEach(books => { %>
        <%- include('../books/detail', {books: books}) %>
                <button class="select-button" type="submit">Save this book</button>
                </div>
                <form class="hide-me" action="<%= formAction === 'Add' ? '/book' : `/books/${element.id}` %>" method="post">
                <input type="hidden" name="_method" value="<%= formAction === 'Add' ? 'post' : 'put' %>" >
                  <form action="/books" method="post" class="form-container">
                    <input type="text" name="title" value="<%= books.title %>" required>
                    <input type="text" name="author" value="<%= books.author %>" required>
                    <input type="text" name="isbn" value="<%= books.isbn %>" required>
                    <input type="text" name="image_url" value="<%= books.image_url %>" required>
                    <input type="text" name="description" value="<%= books.description %>" required>
                    <input type="text" name="bookshelf" id="bookshelf" required>
                    <button type="submit" class="add-button">Add to library</button>
                  </form>
                  </section>
          </li>
        <% }) %>
      </ul>
    </main>
    <footer>
      <ul>
        <li><span class="icon-mail2"><a href=""></a></span></li>
        <li><span class="icon-twitter"><a href=""></a></span></li>
        <li><span class="icon-github"><a href=""></a></span></li>
        <li><span class="icon-linkedin2"><a href=""></a></span></li>
      </ul>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../../public/js/app.js"></script>
    <script src="/server.js"></script>
  </body>
</html>

