<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <link rel="stylesheet" href="styles/modules/books/show.css">
</head>

<body>
  <%- include('../layout/header') %>
  <main>
    <h4>Saved Books (<%= count %>)</h4>
    <ul>
      <% result.forEach(book => { %>
      <li class="book-items" data-book-id="<%= book.id %>">
        <section class="book-container detail-view">
          <img src="<%= book.image_url %>">
          <h3>Title: <%= book.title %></h3>
          <h4>Author: <%= book.author %></h4>
          <p class="isbn">
           ISBN#: <%= book.isbn %>
            <% if (book.bookshelf) { %> 
            <br>
            Bookshelf:
            <%= book.bookshelf %>
            <% } %>
          </p>
          <p class="detail-button"><a href="/books/<%= book.id %>">View Book Details</a></p>
        </section>
      </li>
      <% }) %>
    </ul>
  </main>
  <%- include('../layout/footer') %>
</body>

</html>






